---
layout: page
title: Speakers
permalink: speakers/
---

<h1 id="speakers-grid">Speakers</h1>
<div class="container-fluid speaker-grid">
{%- for speaker in site.data.speakers %}
{% assign mod = forloop.index | modulo: 3 %}
{% if mod == 1 %}
<div class="row ms-2 ps-5 d-flex-row justify-content-between pe-4">
{% endif %}

{% include speaker.html speaker=speaker mod=mod %}

{% if mod == 0 %}
</div>
{% endif %}
{%- endfor %}
</div>
<!-- .speaker-grid -->
<!-- speaker-list -->

<h1 id="speakers-list">Bios</h1>
<div class="container-fluid speaker-list">
{%- for speaker in site.data.speakers %}
<div class="row mx-5 speaker-list-entry my-4 py-4">
    <div class="col-md-3">
        <div class="card profile-picture-list py-3">
            <img class="img-thumbnail rounded-circle" src="{{ '/assets/img/speakers/' | append: speaker.pic | relative_url }}">
            {% if speaker.social.size > 0 %}
            <ul>
                {% for h in speaker.social %}
                    {% assign soc = h[0] %}
                    {% assign acc = h[1] %}
                    {% include socialentry.html social=soc account=acc %}
                {% endfor %}
            </ul>
            {% endif %}
        </div> 
        
    </div>
    <div class="col-md-7">
        <div class="d-flex justify-content-between py-4">
            <h2 id="speaker-list-{{ speaker.id}}" class="d-flex">{{ speaker.name }}</h2>
        </div>
        <div>
            {{ speaker.bio }}
        </div>
     </div>
</div>
{% endfor %}
</div>
