<div class="container-fluid about-section">
    <div class="row">
        <div class="col-md-12">
            <p>
                Welcome to &nbsp;<em>Diversity Dialogues: Theatre of the Oppressed for our times!</em>
            </p>
            <p>
                This conference is for everyone who is looking for a methodology to start working with communities, or looking to deepen and strengthen their work with communities, or just wanting to be a part of initiatives for social change.
            </p>
            <p>
                Can Theatre of the Oppressed (TO) - a methodology created in Brazil 50 years ago, and in response to a specific political situation - work for us here and now, in India? This is the question that we asked ourselves, a group of 20 TO practitioners, or Jokers as we are called in TO language, when we gathered in Bangalore in February 2023 - is TO relevant today?
            </p>
            <p>
                The answer is YES! More than ever before, in fact. We are surrounded today by divisive and dehumanizing discourses. We are being pressured in an intentional, calculated manner, to stay in silos, compartmentalize our lives, our thoughts, and our work, so that our voices stay weak. More than ever, today we need the rehumanising power of TO. More than ever, today we need TO to bring us together in solidarity, and appeal to the joy and hope in us, instead of the fears and doubts. 
            </p>
            <p>
                This Conference shows how TO, along with other arts practices, can help us build communities of care.
            </p>
            <p>
                A rather ambitious 3 part conference was conceptualized at the February 2023 Joker meet. We discussed some projects that were close to our hearts. We resolved to work on these projects and gather again when we had some findings to share. Between then and now, we met several times online to share our progress and our learnings, offering feedback, suggesting changes - in short, being a community of support. The Jokers leading these projects, CCDC alumni all, have come together for the concluding part of this 3-part Conference. We will share our insights, and also questions that remain, because the projects are works in progress. And therefore, we are excited and honoured to have with us, in this Conference, artists, activists and educators from whom we have much to learn. They too, like us, dream of a better India, an India where individuals and communities can live and work without fear of oppression and injustice. 
            </p>
            <p>
                This Conference is for all those who believe that change is possible.  We will share our stories, our struggles and our hope. We will rehearse the idea of change in its many hues and forms; we will rehearse also the ways in which we can support each other in our resistance to the forces dehumanizing us. 
            </p>
            <p>
                <em>We make the road by walking</em>, said the Spanish poet Antonio Machado.
            </p>
            <p>
                Together let’s figure out this new path.
            </p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-12 mx-0 mx-md-2">
            <h2>Venue</h2>
            <p>
                Indian Social Institute <br/>
                Address: 24, Benson Rd, Byadarahalli, Benson Town, Bengaluru, Karnataka 560046
            </p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-12 mx-0 mx-md-2 col-4">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.5994588536187!2d77.6053925!3d12.997451100000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae174d2a5e3b2f%3A0x620239d01f9289a4!2sIndian%20Social%20Institute!5e0!3m2!1sen!2sin!4v1729602933919!5m2!1sen!2sin" id="google-map" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
