<div class="container-fluid about-section">
    <div class="row">
        <div class="d-flex text-dark px-4 mx-4 my-3">
            Welcome to Diversity Dialogues : Theatre of the Oppressed for our times.
        </div>
        <div class="d-flex text-dark px-4 mx-4 my-3">
        This conference is for everyone who is looking for a methodology to strengthen their work with communities. Can Theatre of the Oppressed (TO) - a methodology created in Brazil 50 years ago, and in response to a specific political situation - work for us here and now, in India? This is the question that we asked ourselves, a group of 20 TO practitioners, or Jokers as we are called in TO language, when we gathered in Bangalore in February 2023- is TO relevant today?
        </div>
        <div class="d-flex text-dark px-4 mx-4 my-3">
            The answer is YES! More than ever before, in fact. We are surrounded today by divisive and dehumanizing discourses. We are being pressured in an intentional, calculated manner, to stay in silos, compartmentalize our lives, our thoughts, and our work, so that our voices stay weak. More than ever, today we need the rehumanising power of TO. More than ever, today we need TO to bring us together in solidarity, and appeal to the joy and hope in us, instead of the fears and doubts. 

        </div>
        <div class="d-flex text-dark px-4 mx-4 my-3">
            This Conference shows how TO, combined with other arts practices, can help us build communities of care.
A rather ambitious 3 part conference was conceptualized at the February 2023 Joker meet. We discussed some projects that were close to our hearts. We resolved to work on these projects and gather again when we had some findings to share. Between then and now, we met several times online to share our progress and our learnings, offering feedback, suggesting changes- in short, being a community of support. The Jokers leading these projects, CCDC alumni all, are gathered here today, for the concluding part of this 3-part Conference. We will share our insights, and also questions that remain, because the projects are works in progress. And therefore, we are excited and honoured to have with us, in this Conference, artists, activists and educators from whom we have much to learn. While not all of them are TO practitioners, they too, like us, dream of a better India, an India where individuals and communities can live and work without fear of oppression and injustice. 
        </div>
        <div class="d-flex text-dark px-4 mx-4 my-3">
            This Conference is for all those who believe that change is possible.  We will share our stories, our struggles and our hope. We will rehearse the idea of change in its many hues and forms; we will rehearse also the ways in which we can support each other in our resistance to the forces dehumanizing us. 
            We make the road by walking, said the Spanish poet Antonio Machado.
            Together let’s figure out this new path.    
        </div>
    </div>
</div>
