<div class="container-fluid about-section">
    <div class="row">
        <div class="col-md-12">
            <p>
                Welcome to &nbsp;<em>Diversity Dialogues : Theatre of the Oppressed for our times!</em>
            </p>
            <p>
                This conference is for everyone who is looking for a methodology to strengthen their work with communities. Can Theatre of the Oppressed (TO) - a methodology created in Brazil 50 years ago, and in response to a specific political situation - work for us here and now, in India? This is the question that we asked ourselves, a group of 20 TO practitioners, or Jokers as we are called in TO language, when we gathered in Bangalore in February 2023- is TO relevant today?
            </p>
            <p>
                The answer is YES! More than ever before, in fact. We are surrounded today by divisive and dehumanizing discourses. We are being pressured in an intentional, calculated manner, to stay in silos, compartmentalize our lives, our thoughts, and our work, so that our voices stay weak. More than ever, today we need the rehumanising power of TO. More than ever, today we need TO to bring us together in solidarity, and appeal to the joy and hope in us, instead of the fears and doubts. 
            </p>
            <p>
                This Conference shows how TO, combined with other arts practices, can help us build communities of care.
            </p>
            <p>
                A rather ambitious 3 part conference was conceptualized at the February 2023 Joker meet. We discussed some projects that were close to our hearts. We resolved to work on these projects and gather again when we had some findings to share. Between then and now, we met several times online to share our progress and our learnings, offering feedback, suggesting changes- in short, being a community of support. The Jokers leading these projects, CCDC alumni all, are gathered here today, for the concluding part of this 3-part Conference. We will share our insights, and also questions that remain, because the projects are works in progress. And therefore, we are excited and honoured to have with us, in this Conference, artists, activists and educators from whom we have much to learn. They too, like us, dream of a better India, an India where individuals and communities can live and work without fear of oppression and injustice. 
            </p>
            <p>
                This Conference is for all those who believe that change is possible.  We will share our stories, our struggles and our hope. We will rehearse the idea of change in its many hues and forms; we will rehearse also the ways in which we can support each other in our resistance to the forces dehumanizing us. 
            </p>
            <p>
                We make the road by walking, said the Spanish poet Antonio Machado.
            </p>
            <p>
                Together let’s figure out this new path.
            </p>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-12 mx-0 mx-md-2">
            <h2>About the Venue</h2>
            <p>
                Indian Social Institute, Bangalore, has been an extension service of the Jesuits in Pune, New Delhi, India, since the 1950s, working for social change in the interests of poor and underserved peoples. In 1993 it became an independent NGO and took its current name.
            </p>
            <p>
                The Institute is engaged in Training of Trainers and leaders of the marginalised communities, with special focus on South India, through holistic and quality capacity-building trainings, networking and advocacy engagements, to help the them claim their entitlements, rights and improved quality of life.
            </p>
        </div>
    </div>
</div>
