<div class="container-fluid donate-section">
    <div class="row">
        <div class="d-flex flex-column text-dark mx-4 px-4">
            <p>
                Thank you for your support!
                You can donate by scanning the QR Code below.
            </p>
            <p>
                UPI Code: dialogue21148@iob <br/>
                <br/>
                <img src="{{ '/assets/img/upi_code.png' | relative_url }}">
            </p>
        </div>
    </div>
    <div class="row">
        <div class="d-flex flex-column text-dark mx-4 px-4">
            <p>
                In case you wish to make a bank transfer, here are CCDC’s bank account details. <br/>
            </p>
            <p>
                Account Name: Centre for Community Dialogue and Change <br/>
                Account no. 066501000021148<br/>
                Bank: Indian Overseas Bank<br/>
                Branch: Sivan Chetty Garden<br/>
                Account type: Savings<br/>
                IFSC : IOBA0000665<br/>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="d-flex flex-column text-dark mx-4 px-4">
            <p>
                Please contact us at <a href="mailto:contact@ccdc.in">contact@ccdc.in</a> if you experience any difficulty making your contribution.
            </p>
        </div>
    </div>
</div>
