<div class="container-fluid donate-section">
    <div class="row">
        <div class="col-md-12">
            <p>
                The presenters you will meet at this Conference are all working to create a more equitable and just society. This Conference will help their work have a wider social impact. They will also pick up new tools, share ideas, and create networks of support .
            </p>
            <p>
                This Conference will also be critical to the advancement of Theatre of the Oppressed in India. The connections made at the conference will help to sustain a vibrant TO community in India, ensuring that the practice continues to evolve and adapt to changing social realities.
            </p>
            <p>
                Thank you for your support! You can donate by scanning the QR Code below.
            </p>
            <p>
                UPI Code: dialogue21148@iob
            </p>
            <p>
                Or save and scan the image below: 
                <br/>
                <br/>
                <img id="upi" class="rounded" src="{{ '/assets/img/upi_code.jpg' | relative_url }}">
            </p>
            <p>
                If you are on your mobile try this link to see if it launches your UPI app: <a href="upi://pay?pa=dialogue21148@iob&pn=CCDC&cu=INR">dialogue21148@iob</a>
            </p>
            <p>
                Otherwise try this link to copy our UPI ID to your clipboard <button id="copy-code" class="btn btn-link"  type="button">dialogue21148@iob</button>
            </p>
            <p>
                In case you wish to make a bank transfer, here are CCDC’s bank account details.
            </p>
            <p>
                Account Name: Centre for Community Dialogue and Change <br/>
                Account no. 066501000021148<br/>
                Bank: Indian Overseas Bank<br/>
                Branch: Sivan Chetty Garden<br/>
                Account type: Savings<br/>
                IFSC : IOBA0000665<br/>
            </p>
            <p>
                If you experience any difficulty making your contribution, please contact us at <a href="mailto:contact@ccdc.in">contact@ccdc.in</a>.
            </p>
        </div>
    </div>
</div>

<style>
#copy-code {
    font-size: 1.3rem;
}
</style>

<script type="text/javascript">
    document.getElementById("copy-code").addEventListener('click', async () => {
        var range = document.createRange();
        range.selectNode(document.getElementById("copy-code"));
        window.getSelection().removeAllRanges(); // clear current selection
        window.getSelection().addRange(range); // to select text
        document.execCommand("copy");
        window.getSelection().removeAllRanges();// to deselect
        await navigator.clipboard.writeText(range.toString());
    }); 
</script>


