<footer class="d-flex flex-row justify-content-between align-items-center py-2 my-2 border-top bg-gray">
    <div class="col-md-1 px-4">
        <a style="color: white;" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/ccdc.in">
            <i style="font-size: 4.5rem;" class="fa-brands fa-instagram"></i>
        </a>
    </div>
    <div class="offset-md-8 col-md-2 mb-0 float-end">
        <a href="https://ccdc.in/" target="_blank">
            <img style="width: 75%" src="{{ '/assets/img/ccdc_logo_nobg_horizontal.png' | relative_url }}">
        </a>
    </div>
</footer>
